@use "../../../variables.scss";
.profileItems{
    &__heading{
        margin-bottom: 1rem;
        font-family: variables.$inter;
    }
    &__items{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4,1fr);
       
    }
    &__swap{
        display: flex;
        gap: 1rem;
        background-color: transparent;
        flex-direction:column;
        padding: 1rem;
        border: 3px solid variables.$inputBorderGrey;
        border-radius: 0.5rem;
        transition: 0.4s;
        

        &:hover{
           
          
           
            


           
         
         a{
             
            }
        }
    }
    &__swapDelete{
        width:2rem;
        height: 2rem;
        background-color: red;
        border-radius: 100%;
        margin-top: -2rem;
        align-self: end;
        margin-right: -1.5rem;
        border: 1px solid transparent;
        color: white;
        transition: 0.4s;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__swapHeading{
     font-family: variables.$inter;
     text-align: center;

    }
}