@use "../../variables.scss";
.requestItem{
    justify-self: center; align-self: center;
        display: flex;
        gap: 1rem;
        
        background-color: transparent;
        flex-direction:column;
        padding: 1rem;
        border: 3px solid variables.$inputBorderGrey;
        border-radius: 0.5rem;
        transition: 0.4s;
        

        &:hover{
           
          
           
            


           
         
         a{
             
            }
        }
    
    &__swapDelete{
        width:2rem;
        height: 2rem;
        background-color: red;
        border-radius: 100%;
        margin-top: -2rem;
        align-self: end;
        margin-right: -1.5rem;
        border: 1px solid transparent;
        color: white;
        transition: 0.4s;
        &:hover{
            transform: scale(1.2);
        }
        
    }
     &__swapAcept{
        width:2rem;
        height: 2rem;
        background-color: rgb(15, 255, 2);
        border-radius: 100%;
        margin-top: -2rem;
        align-self: end;
        margin-right: -1.5rem;
        border: 1px solid transparent;
        color: white;
        transition: 0.4s;
        &:hover{
            transform: scale(1.2);
        }
   }


 &__text{
     font-family: variables.$inter;
     text-align: center;
     font-weight: 600;

    }}