@use "../../variables.scss";
.productPageScroller{
    margin-top: 5rem;
    grid-column: 1/-1;
    justify-self: center;
    display: flex;
    gap: 0.5rem;
&__textButton{
    background-color: transparent;
    border: none;
    display: flex; gap: 0.5rem;
    align-items: center;
    color: variables.$darkGreyText;

}
&__icon{
    color: variables.$arrowIconColor
}
&__button{
    width: 2rem /* 32 / 16 = 2 */;
    height: 2rem /* 32 / 16 = 2 */;
    border-radius: 0.5rem;
    border: 0px solid transparent;
    &--active{
        background-color: variables.$buttonBackgroundBlack;
        color: white;
    }
}
}