@use "../../variables.scss";
.listingItem{
    border: 1px solid variables.$inputBorderGrey;
   padding: 1rem;
   background-color: transparent;
   text-decoration: none;
  
    border-radius: 0.5rem;
   
   
   
   
  
  &__article{
    padding: 1rem;
  
    border-radius: 0.5rem;
    max-width: 93%;
  }
    &__img{
     
    height: 18vw;
    max-height: 15.4375rem /* 247 / 16 = 15.4375 */;
        object-fit: cover;
        
    }
    &__link{
       width: 100%;
       padding: 1rem;
    }
    &__heading{
        margin-top: 1rem;
        font-weight: variables.$lightWeight400;
        font-family: variables.$inter;
        font-size: 1rem;
    }
    .editLink{
      text-decoration: none;
      font-family: variables.$inter;
      border: 1px solid variables.$inputBorderGrey;
      padding: 0.5rem ;
     margin-top: 0.5rem;
     display: block;
     border-radius: 0.5rem;
      justify-self: center;
      text-align: center;
      transition: 0.4s;
      &:hover{
        background-color: black;
        color: white;
      }
    }
}