@use "../../variables.scss";
.listingItem{
    border: 1px solid variables.$inputBorderGrey;
    padding: 1rem;
    border-radius: 0.5rem;
    max-height: 19.8125rem /* 317 / 16 = 19.8125 */;
    max-width: 93%;
   
   
  
  
    &__img{
     
        height: 80%;
        object-fit: cover;
        
    }
    &__heading{
        margin-top: 1rem;
        font-weight: variables.$lightWeight400;
        font-family: variables.$inter;
        font-size: 1rem;
    }
}