@use "../../variables.scss";
.profileHeading{
    font-family: variables.$inter;
    text-align: center;
    margin: 1rem 0;

}
.profileSiteText{
     font-family: variables.$inter;
    text-align: center;
    margin: 1rem 0;
}